@import "style_imports/header.css";
@import "style_imports/background_images.css";
@import "style_imports/blog_posts.css";
@import "style_imports/next_bar.css";
@import "style_imports/comment_card.css";
@import "style_imports/footer.css";
@import "style_imports/typography.css";
@import "style_imports/post_template.css";
@import "style_imports/fa_icons.css";

/* Styling for the wrapper -- mainly to fix the footer. . . */

.wrapper {
	min-height: 100%;
	margin-bottom: 10vh;
}

/* Styling for the page grid layout. */

.page {
	display: grid;
	min-height: 100%;
	grid-template-columns: 100%;
	grid-template-rows: 120px 80vh 100px;
	grid-template-areas:
	"head"
	"main"
	"foot";
}

/* Styling for the body section. */

.main {
	display: grid;
	min-height: 100%;
	grid-template-columns: 100%;
	grid-template-rows: 400px 1fr;
	grid-template-areas:
	"photoTitle"
	"content";
	padding-bottom: 10vh;
}

/* Styling for the photo.title section. */

.photoTitle {
	display: flex;
	flex-direction: column;
	height: 400px;
	background: url("photos/Vegas_Superman_1.jpg");
	background-size: cover;

	/* Styling for the mainTitle */

	justify-content: flex-end;
	padding-left: 30px;
}

/* Styling for the main title */

.mainTitle {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	margin-bottom: 15px;
}

/* Styling for the post content. */

.content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: white;
	min-height: 1fr;
	margin-bottom: 10vh;
}